@font-face{
	fonte-family: Bebas;
	src: url(css/BebasNeuw-Regular.ttf);
}

html, body, #page-home{
	overflow-x: hidden;
	height: 100%;
	box-sizing: border-box;
}


/*Botão Customizado
************************/
.btn-custom{
	border-radius: 20px;
	background: white;
	color: black;
	font-size: 14px;
	margin-right: -10;
}

.config-top{
	background: #404EED;
}

.btn-custom:hover{
	box-shadow: 1px 1px 10px #333333;
}


.negrito{
	font-weight: bolder;
}

.text-custom h1 p{
	
	height: 100px;
	
}

#config-principal-page{
	height: 100%;
	width: 100%;
	background: #404EED;

}

.content-one{
	margin-left: -29.5em;
	margin-top: 14.5em;
}


.content-two{
	margin-left: 26.5em;
	margin-top: 14.5em;
}

.content-three h2{
	padding-left: 10em;
	margin-left: 15em;
}

.content-three p{
	margin-left: 40em;
}


.config-content img{
	margin-top: 5em;
}

.config-content{
	padding: 60px 0;
}



#text-home h1{
	font-family: Bebas;
	font-size: 30em;
	font-weight: bolder;
	z-index: 200;
	color: white;
}

#text-home p{
	font-size: 20px;
}

.caixa{
	padding-top: 8em;
}


.font-custom{
	font-family: 'Anton', sans-serif;
	color: white;
	letter-spacing: 2px;
	font-weight: bolder;
	font-size: 60px;
	margin-top: -50px;
	margin-bottom: 25px;
}

.btn-download-custom{
	border-radius: 28px;
	font-size: 20px;
	background: white;
	color: #23272a;
	width: 280px;
	height: 50px;
	margin-top: 5px;
}

.btn-download-custom:hover{
	box-shadow: 1px 1px 10px #333333;
}

.btn-discord-custom{
	border-radius: 28px;
	font-size: 20px;
	background: #23272a;
	color: #fff;
	width: 340px;
	height: 52px;
	margin-left: 20px;
	margin-top: 5px;
}

.bg-grey{
	background: #ededed;
}

.edt-block-3{
	margin-top: 15%;
}

.edt-block-3-1{
	margin-top: 15%;
	
	
}



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { ... }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
